{% extends "layout.html" %}

{% block title %}¿Relación Tóxica?{% endblock title %}

{% block main %}
    <div class="row justify-content-center mt-4">
        <div class="col-lg-8 col-md-10">

            <h1 class="text-center text-primary mb-4" style="font-size: 2rem;">
                ¡Veamos si tu relación realmente es tóxica o no! 🤔
            </h1>

            <div class="card p-4 shadow-sm">

                <h2 class="text-center mb-4">¿Estás lista para saber la verdad?</h2>

                <div class="alert alert-success mt-3" role="alert">
                    <p class="mb-1"><strong>¡Esto es completamente ANÓNIMO!</strong></p>
                    Tus respuestas no serán guardadas con información personal. ¡Tu seguridad es nuestra prioridad!
                </div>

                <div class="text-center mt-4">
                    <form action="/" method="post">
                        <button type="submit" class="btn btn-primary btn-lg shadow-lg w-75 mb-3">
                            ¡Empecemos!
                        </button>
                    </form>

                </div>
            </div>

            <div class="text-center mt-4 text-muted" style="font-size: 0.8em;">
                <p>Las preguntas de este cuestionario se han tomado de un estudio robusto y validado:</p>
                <cite>Fogarty, C. T., & Brown, J. B. (2002). Screening for abuse in Spanish-speaking women. The Journal of the American Board of Family Practice, 15(2), 101-111.</cite>
            </div>
        </div>
    </div>
{% endblock main %}
